.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.margin-bottom-setter {
    margin-bottom: 400px;
    margin-top: 10px;
    padding: 18px 20px;
}