.main-nav ul {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav ul li {
    list-style: none;
    border: 2px solid white;
    padding: 5px 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

a {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;  
}

.active {
    background-color: white;
    color: black;
}